<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Такой страницы не существует</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert" style="margin: auto;">Тут ничего нет :(</p>
        </LayoutView>
    </NotFound>
</Router>
